<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Email</title>
</head>
<body>
    <div style="max-width: 600px; background-color: #f8f9fa; margin: 0 auto; padding: 20px; text-align: center;
    border:2px solid black">
     <h2>Update Your Password</h2>
     <p>Click on the button Given beloww</p>
     <a 
  href="http://localhost:5173/reset-password/<%= token %>" 
  style="display: inline-block; padding: 10px 20px; background-color: #3b82f6; color: white; text-decoration: none; border-radius: 6px; font-weight: bold; font-family: sans-serif; text-align: center;">
  Reset Password
   </a>

    </div>
</body>
</html>